<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>1 Of 1 The research Agency Conecting Thinkers With Investers</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
	/* Hide the default file input */
	input[type="file"] {
	  display: none;
	}
  
	/* Style the custom button to mimic a file input */
	.custom-button {
	  background-color: #3498db; /* Change the background color to your preferred color */
	  color: #fff; /* Change the text color to white or another suitable color */
	  padding: 10px 20px; /* Adjust padding to control the button size */
	  border: none; /* Remove the default button border */
	  border-radius: 5px; /* Add rounded corners to the button */
	  cursor: pointer; /* Change the cursor style on hover */
	}
  
	/* Optional: Add hover styles for the custom button */
	.custom-button:hover {
	  background-color: #1e70bf; /* Change the background color on hover */
	}



	/* Style the label */
label {
  font-weight: 600; /* Make the label text bold */
  display: block; /* Display the label on a new line */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

/* Style the select input */
select.form-control {
  width: 100%; /* Make the select input expand to the full width of its container */
  padding: 10px; /* Add padding for better spacing */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  background-color: #f7f7f7; /* Background color for the select input */
  color: #474747; /* Text color */
  font-family: 'Source Sans Pro', sans-serif; /* Set font family */
  font-size: 16pt; /* Set font size */
  font-weight: 300; /* Set font weight */
  line-height: 1.65em; /* Set line height */
}

/* Style the select input options */
select.form-control option {
  background-color: #f7f7f7; /* Background color for options */
  color: #474747; /* Text color for options */
}

/* Add some spacing for the select input options */
select.form-control option {
  padding: 5px;
}

/* Style the select input on hover and focus */
select.form-control:hover,
select.form-control:focus {
  border-color: #37c0fb; /* Change border color on hover/focus */
}


.notification {
            color: red;
            font-size: 18px;
            margin-top: 5px;
        }


		.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #37c0fb;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }

  </style>

	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			
			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1 style="margin-bottom: 0px;padding-bottom: 0px;"><a href="/" id="logo">One OF One <em>Research Agency</em></a></h1>
<p style="margin-top: 0px;">Connecting Investors With Inventors</p>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="<%= currentRoute === '/' ? 'current' : '' %>"><a href="/">Home</a></li>
								<li class="<%= currentRoute === '/marketplace' ? 'current' : '' %>"><a href="/marketplace">Marketplace</a></li>
								<li class="<%= currentRoute === '/research' ? 'current' : '' %>"><a href="/research">Research</a></li>
								<li class="<%= currentRoute === '/blog' ? 'current' : '' %>"><a href="/blog#blogStarter">Blog</a></li>
								<li class="<%= currentRoute === '/investors' ? 'current' : '' %>"><a href="/investors">Investors</a></li>	
								<li ><a href="#">Info</a>
								
									<ul>
										
										<li class="<%= currentRoute === '/1of1info/About' ? 'current' : '' %>"><a href="/1of1info/about">About Us</a>
										
										<li class="<%= currentRoute === '/1of1info/Contact' ? 'current' : '' %>"><a href="/1of1info/contact">Contact</a></li>
									</ul>
								
								
								</li>
								
								




								<% if (isAuthenticated) { %>
									<li class="<%= currentRoute === '/login' ? 'current' : '' %>"><a href="/logout" >Log Out</a></li>
									<li class="<%= currentRoute === '/profile' ? 'current' : '' %>"><a href="/profile" >Profile</a></li>	
									<% if (user.adminRights == true) { %>
									  <% } %>
									<%} else { %>
										<li class="<%= currentRoute === '/login' ? 'current' : '' %>"><a href="/login" >Log In</a></li>
										<li class="<%= currentRoute === '/signup' ? 'current' : '' %>"><a href="/signup" >Register</a></li>
								  <% } %>
							</ul>
						</nav>

				</div>