<%- include('../partials/header') -%>


<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

                <article>
                    <header>
                        <h2>Admin Area, Welcome <%= user.userName %></h2>
                        <p>Remember To Log Out</p>
                    </header>

                    

                    <h3>Here are your options</h3>

                    <table>
                        <tr>
                          <th>Id</th>
                          <th>Title</th>
                          <th>Edit</th>
                          <th>Delete</th>
                         
                         
                        </tr>
                        <% result.forEach(function(iContent) { %>
                        <tr>
                          <td><%= iContent.Id %></td>
                          <td><%= iContent.Title %></td>
                          <td><a href="/admineditblog/<%= iContent.Id %>" >Go!</a></td>
                          <td><a href="/admindeletthisblog/<%= iContent.Id %>" data-confirm="true">Delete!</a></td>

                         
                        </tr>
                        <% }); %>
                       
                  
                      </table>

                      <a href="/adminaddblog" >Write A New Blog Article</a>
                </article>

        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
      // Attach a click event handler to the "Delete" links
      $('a[data-confirm]').on('click', function(e) {
        // Prevent the default link action
        e.preventDefault();
  
        // Get the URL from the link's href attribute
        var url = $(this).attr('href');
  
        // Display a confirmation dialog
        if (confirm('Are you sure you want to delete this blog post?')) {
          // If the user confirms, redirect to the delete URL
          window.location.href = url;
        }
      });
    });
  </script>

<%- include('../partials/footer') -%>