<%- include('../partials/header') -%>

				

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Log IN</h2>
												<p>Welcome Back, Log in and see what has been going on!</p>
											</header>

                                            <div class="container">
                                                <div class="row">
                                             
                                                    <section class="col-12 col-12-narrower">
                                        
                                                        <form action="/login" method="post">
                                                            <div class="row gtr-50">
                                                                <div class="col-12 col-12-mobilep">
                                                                    <input type="text" name="username" id="name" placeholder="Name" />
                                                                </div>

                                                                <div class="col-12">
                                                                    <input type="password" name="password" id="password" placeholder="Password" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <ul class="actions">
                                                                        <li><input type="submit" class="button" value="Log In" /></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </section>
                                                </div>
                                            </div>
                                

											<p>Want An Account? Sign Up <a href="/signup">here</a></p>
											<p>Forgot Your Password? Reset it <a href="/resetpassword">here</a></p>

											<h3><%= result[0].title %></h3>
											<p><%= result[0].paragraph1 %></p>
										</article>

								</div>
							</div>
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->

										<section>
											<h3><%= result[0].heading2 %></h3>
											<p><%= result[0].paragraph2 %></p>
											
										</section>

										<section>
											
											<%- include('../partials/mainlinks') -%>
										</section>

								</div>
							</div>
						</div>
					</div>
				</section>

                <%- include('../partials/footer') -%>