<%- include('../partials/header') -%>

				

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Register</h2>
												<p>Inventor Or Investor? Sign Up Here.</p>
											</header>

                                            <div class="container">
                                                <div class="row">
                                             
                                                    <section class="col-12 col-12-narrower">
                                                        <h3>Get In Touch</h3>
                                                        <form action="/signup" method="post">
                                                            <div class="row gtr-50">
                                                                <div class="col-12 col-12-mobilep">
                                                                    <input type="text" name="username" id="name" placeholder="Name" />
                                                                </div>
                                                                <div class="col-12 col-12-mobilep">
                                                                    <input type="email" name="email" id="email" placeholder="Email" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <input type="password" name="password" id="password" placeholder="Password" />
                                                                </div>
                                                                <div class="col-12">
                                                                    <ul class="actions">
                                                                        <li><input type="submit" class="button alt" value="Register" /></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </section>
                                                </div>
                                            </div>
                                

											

											<h3><%= result[0].title %></h3>
											<p><%= result[0].paragraph1 %></p>
										</article>

								</div>
							</div>
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->

										<section>
											<h3><%= result[0].heading2 %></h3>
											<p><%= result[0].paragraph2 %></p>
										</section>

										<section>
											<%- include('../partials/mainlinks') -%>
										</section>

								</div>
							</div>
						</div>
					</div>
				</section>
				<%- include('../partials/banner') -%>
                <%- include('../partials/footer') -%>