<%- include('../partials/researchheader') -%>

				<%- include('../partials/researchbanner') -%>

                <%- include('../partials/researchnav') -%>

               


			<!-- Gigantic Heading -->
				<section class="wrapper style2" style="padding-top:0px;padding-bottom:0px;">
					<div class="container">
						<header class="major">
							<h2>Research Areas</h2>
							<p>Here are some of the areas that we are researching currently!</p>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
                            <% result[0].forEach(function(iContent) { %>
                            
                                <% var namex = iContent.title 
                    var realnamefixed = namex.replace(/ /g , "-");
                    %>

							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/<%= iContent.image %>" alt="" /></a>
									<div class="inner">
										<h3><%= iContent.title %></h3>
                                        <p>Category: <%= iContent.category %></p>
                                        <p><%= iContent.smallBit %></p>
                                            
                                            <p><a href="/research/<%= realnamefixed %>/<%= iContent.Id %>" >Find Out More...</a>
                                        </p>
										
									</div>
								</div>
							</section>

                            <% }); %>
						
						</div>

					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Do you have an idea or are you an investor?</h2>
							<a href="/register" class="button">Register Now</a>
						</header>
					</div>
				</section>


                <%- include('../partials/footer') -%>

	